<div class="banner">
<h1>Mister Cocktail</h1>
<h2><strong>It's Cocktail O'Clock! What will you have?</strong></h2>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% @cocktails.each do |cocktail| %>
      <h3 class="message">
        <%= cl_image_tag cocktail.photo.key, height: 80, crop: :fill %>
        <%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      <% end %>
      <div class="message"><%= link_to "Add a new cocktail", new_cocktail_path %></div>
    </div>
  </div>
</div>
